{% extends 'layout.html.twig' %}


{% block content %}
		<h1> {{ selectCity.city }}</h1>
		<h1>Activities</h1>
			{% for activity in activities %}
				<p>{{ activity.name }}</p>
			{% endfor %}
		<h1>Check-list</h1>
			{% for checklist in checklists %}
				<p>{{ checklist.item }}</p>
			{% endfor %}
{% endblock %}
