{% extends 'layout.html.twig' %}

{% block content %}
	{# <h1>Hello Wilder !</h1>
				<p>Find a complete CRUD example on #}
	{# <a href="/items">/items</a>
				page.</p> #}
					<h1>plan</h1>
					<h2>
						Unexpected Holidays</h2>
					<p>You don't know where to go in vacation?</p>
					<p>
						Choose a destination type below and let chance decides for you!
					</p>
					<form id='form'>
						<div>
							<label for="destinations-type"></label>
							<select id="destinations-type" name="destinations-type">
								<option value="">---destinations type---</option>
								<option value="">City</option>
								<option value="">Countryside</option>
								<option value="">Desert</option>
								<option value="">Montain</option>
								<option value="">Ocean</option>
								<option value="">Jungle</option>
							</select>
						</div>
						<div>
							<button class="myButton" type="submit">Envoyer</button>
						</div>
					</form>
				
{% endblock %}
